@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    padding: 20px;
    min-height: 150px;
}

header h1{
    font-family: var(--fonte-logo);
    color: white;
    text-shadow: 0px 0px 30px;
}

nav{
    margin-top: 20px;
    text-align: right;
}

nav > a{
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
}

nav > a:hover{
    text-shadow: 0px 0px 15px;
}

main{
    min-height: 300px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px 0px 20px;
    background-color: var(--cor3);
    margin-bottom: 150px;
}

div.primeira{
    margin-top: -70px;
    text-align: center;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

section#hero{
    flex: 1 1 250px;
    margin: 20px;
    padding: 30px;
    max-width: 400px;
    min-height: 300px;
    border-radius: 30px;
    background-color: var(--cor4);
    animation: shadowanime 1.8s ease-in-out infinite;
}

@keyframes shadowanime {
    0% { box-shadow: 0px 0px 10px white; }
    50% { box-shadow: 0px 0px 30px white; }
    100% { box-shadow: 0px 0px 10px white; }

}

section#hero  h2{
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
    margin-bottom: 20px;
}

section#hero  h3{
    color: white;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
}

section#hero p{
    color: white;
    text-align: justify;
    line-height: 1.3em;
}

section#sobre{
    flex: 1 1 250px;
    border-radius: 30px;
    margin: 20px;
    padding: 30px;
    max-width: 400px;
    min-height: 300px;
    background-color: var(--cor4);
    animation: shadowanime 2s ease-in-out infinite;
}

@keyframes shadowanime {
    0% { box-shadow: 0px 0px 10px white; }
    50% { box-shadow: 0px 0px 30px white; }
    100% { box-shadow: 0px 0px 10px white; }
}

section#sobre h2{
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
    margin-bottom: 20px;
}

section#sobre p{
    color: white;
    text-align: justify;
    line-height: 1.4em;
}

button.comecar{
    padding: 40px;
    border-radius: 90px;
    border: 1px solid white;
    background-color: var(--cor2);
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.425);
    transition: transform 0.3s;

}

button.comecar:hover{
    cursor: pointer;
}

button.comecar:active{
    transform: scale(0.85);
    background-color:  #00326b;
    color: black;
}

section#conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

article.card{
    flex: 1 1 350px;
    background-color: var(--cor4);
    margin-right: 20px;
    padding: 40px;
    min-width: 200px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.315);
}

article.card h2{
    font-family: var(--fonte-destaque);
    color: white;
    font-weight: normal;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
    margin-bottom: 20px;
}

article.card span.html{
    color: #E44D26;
}

article.card span.css{
    color: #00A8FF;
}

article.card span.js{
    color: #F7DF1E;
}

article.card span.lp{
    color: #B537F2;
}

article p{
    font-size: 1.1em;
    text-align: justify;
}

section#depoimentos{
    min-width: 320px;
    min-height: 200px;
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 100px;
}

section#depoimentos h2{
    color: var(--cor4);
    font-weight: bolder;
    text-shadow: 2px 1px 1px;
    font-size: 1.9em;
    margin-bottom: 20px;
}

section#depoimentos p{
    padding: 10px;
}

section#contato{
    background-color: white;
    min-height: 300px;
    max-width: 350px;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
}

section#contato h1{
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 1px 1px 0px black;
    color: #B537F2;
}

section#contato p{
    font-size: 1.3em;
    text-align: justify;
    margin-bottom: 30px;
}

section#contato div.inputs{
    text-align: center;
    margin: 30px;
}

section#contato input{
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

section#contato div.botao{
    text-align: center;
}

section#contato button{
    padding: 30px;
    border-radius: 90px;
    border: 1px solid white;
    background-color: var(--cor2);
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.425);
    transition: transform 0.3s;
}

section#contato button:hover{
    cursor: pointer;
}

section#contato button:active{
    transform: scale(0.85);
    background-color:  #00326b;
    color: black;
}

footer{
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
}
